.comp4{
    display: flex;
    padding: 2rem;
    margin: 1rem;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.comp4-title{
    font-weight: bolder;
    font-size: 2rem;
}